.hide{
    overflow: hidden;
}
.Nav{
    
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around ;
    border-radius: 0px 0px 36px 36px;
    box-shadow: 0px 4px 12px 0px #0087d7;
}
.Nav-Bar{
    position: relative;
}
.Nav-Bar svg{
    cursor: pointer;
}
.Status-Item{
    border: 2px solid white;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px;
    top: -5px;
    left: 25px;
    position: absolute;
    background-image: radial-gradient(circle, #fc2928, #f85e07, #ef8300, #e3a100, #d4bc16);
}


.Cart {
    background-image: linear-gradient(to top, #a1dfdf, #5cc7e1, #00aae8, #2588e6, #6d5cce);
    z-index: 10;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    animation: CartOpen 2.5s ;
}
@keyframes CartOpen {
    from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    
}
@media only screen and (max-width: 500px) {
    .Cart{
        width: 100vw;
    }   
  }
.Cart-header{
    display: flex;
    color: aliceblue;
    width: 100%;
    height: 40px;
}
.Cart-header h3{
    margin: auto;
    align-items: center;
    text-align: center;
    position: relative;
}
.Cart-header span{
    background-image: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.Cart-header span svg{
    cursor: pointer;
}
.Tittle-Cart{
    width: 400px;
}

.Cart-footer{
    bottom: 0;
    position: absolute;
    color: aliceblue;
    background-color: #4b7696;
    width: 100%;
    height: 40px;
}
.item-cart{
    height: 95px;
    width: 95%;
    padding: 10px;
}
.item-selec{
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 9px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;    
}

.item-selec img{
    width: 60px;
    height: 100%;
    
}

.Button-Remove{
    height: 100%;
    cursor: pointer;
}
.Button-UpDown{
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1024px) {
    .Button-UpDown {
        flex-direction: row;
        width: 40%;
        justify-content: space-around;
    }
  }
.Button-UpDown svg{
    cursor: pointer;
}
